<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesApp"
        tools:targetApi="31">
        <activity
            android:name=".HomePage.HomeMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Maths.MathHomePage.MathMain"/>
        <activity android:name=".Maths.Part1.Part1Chapters.Part1Main"/>
        <activity android:name=".Maths.Part2.Part2Chapters.Part2Main"/>
        <activity android:name=".Maths.Part1.Part1Exercises.Part1ExMain"/>
        <activity android:name=".Maths.Part2.Part2Exercises.Part2ExMain"/>
        <activity android:name=".Maths.ExerciseViewerMain.ExerciseViewerMain"/>

        <activity android:name=".Physics.PhysicsHomePage.PhysicsHomePageMain"/>
        <activity android:name=".Physics.Part1.Part1PhyMain"/>
        <activity android:name=".Physics.Part2.Part2PhyMain"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>